<body>
<div routerLink="/patients" class="btn" routerLinkActive="active">
  <button type="button" class="btn btn-warning" ><i class="far fa-user fa-5x  d-flex justify-content-center"></i>PATIENT LIST</button>
</div>

<div routerLink="/add" class="btn" routerLinkActive="active">
  <button type="button" class="btn btn-warning" ><i class="fas fa-user-alt fa-5x d-flex justify-content-center"></i>NEW PATIENT</button>
</div>

<div routerLink="/medicines" class="btn" routerLinkActive="active">
  <button type="button" class="btn btn-warning" ><i class="fas fa-prescription-bottle fa-5x d-flex justify-content-center"></i>MEDICINE LIST</button>
</div>

<div routerLink="/addM" class="btn" routerLinkActive="active">
  <button type="button" class="btn btn-warning" ><i class="fas fa-capsules fa-5x d-flex justify-content-center"></i>NEW MEDICINE </button>
</div>


  <router-outlet></router-outlet>
</body>


