<body>

<nav class="navbar navbar-expand-sm bg-primary  bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <a class="navbar-brand" th:href="@{/index}"><i class="fas fa-hospital-user"></i>CLINIC MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item">
        <a routerLink="login" class="nav-link" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i>  LOGIN </a>
        
    </li>
    
    
  </ul>
  <ul class="navbar-nav"  style="margin-left: auto;">
    
    
    <li class="nav-item "  >
      <a routerLink="login" class="nav-link" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i>LOGOUT </a>
      
  </li>
    
  </ul>
</nav>


<div class="container">
 
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
 
    </div>
  </div>
</div>

</body>