@charset "ISO-8859-1";
.index {
	background-image: url("https://images.unsplash.com/photo-1587955415524-bb264e518428?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	background-repeat: no-repeat;
	background-size: 100%;
}
.view {
	background-image: url("https://images.unsplash.com/photo-1587440871875-191322ee64b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
	background-repeat: no-repeat;
	background-size: 100%;
}
card {
	width:50%;
	background-color: #808080;
}
.details {
	background-image: url("https://images.unsplash.com/photo-1587440871875-191322ee64b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
	background-repeat: no-repeat;
	background-size: 100%;
}
cards {
	width:75%;
	background-color: #808080;
}